#invoice {
  padding: 25px;
  width: 50%;
  background-color: $gray;
  border-radius: $border-radius;
  box-shadow: $outline;
  #paper {
    padding: 20px;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $outline;
  }
  nav{
    padding-bottom: 10px;
  }
  input {
    border: none;
    margin: 5px;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $outline;
  }
}
