<link rel="stylesheet" href="style.css">
<script src="script.js"></script>

<div id="editor">
    <nav>
        <button id="bold" onclick="editorInsertFormatting(text, '**');"><b>B</b></button>
        <button id="italic" onclick="editorInsertFormatting(text, '*');"><i>I</i></button>
        <button id="strikethrough" onclick="editorInsertFormatting(text, '~~');"><s>S</s></button>
        <button id="download" onclick=editorDownload(text.value,'download.md')>Download</button>
    </nav>
    <textarea autofocus id="text"></textarea>
</div>