@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$border-radius: 5px;
$outline: 0 0 0 1px #c9c9c9;

$heading: "Lora", serif;
$text: "Roboto", sans-serif;

$white: #ffffff;
$gray: #f8f8f8;

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $text;
  margin: 25px;
}

h1 {
  font-family: "Lora", serif;
}

iframe {
  border: 0;
  height: 800px;
}

@import "./docs/cookie-compliance/cookie-compliance";
@import "./docs/editor/editor";
@import "./docs/invoice/invoice";