

body {
  display: inline-flex;
  margin: 0;
  width: 100%;
}

textarea {
  resize: none;
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 1px #c9c9c9;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

nav {
  display: inline;
}

#editor {
  padding: 25px;
  width: 50%;
  height: 100%;
}

#text{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  height: 650px;
}

#parsed{
  width: 50%;
  padding: 25px;
}

#devtools{
  display: none;
}

#editor button {
  padding: 10px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 0 1px #c9c9c9;
  margin-bottom: 15px;
  margin-right: 10px;
}

#editor button:hover {
 background-color: rgb(220, 220, 220);
 cursor: pointer;
}

#devtools button{
 width: 115px;
}