#website {
    nav{
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        color: $white;
        box-shadow: $outline;
    }
    * {
        &:focus {
            outline: none;
        }
    }
    body {
        margin: auto;
        width: 50%;
    }
    h1,
    h2,
    h3 {
        font-family: $heading;
    }
}
