#editor {
    nav {
        padding: 10px;
        padding-left: 20%;
        display: inline;
        position: fixed;
        background-color: $white;
        box-shadow: $outline;
        left: 0;
        top: 0;
        width: 100%;
        h1 {
            width: 200px;
        }
        button {
            font-family: $heading;
        }
    }
    #text {
        margin: auto;
        margin-top: 5%;
        color: black;
        background-color: white;
        box-shadow: $outline;
        padding: 40px;
        width: 1000px;
        height: 1400px;
        &:focus {
            outline: none;
        }
    }
    #counter {
        position: fixed;
        left: 10px;
        bottom: 10px;
        background-color: $white;
        box-shadow: $outline;
        border-radius: $border-radius;
        padding: 10px;
        width: 50px
    }
}
