<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="David Brzý & Jakub Klapka">
    <title>Cookie compliance component | Studio Denali</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Cookie compliance component</h1>
    </header>
    <main>
        <div class="cookie-consent">
            <p>We use cookies to improve your experience on our website and for advertising.</p>
            <button id="manage-cookies" type="button">Manage cookies</button>
            <button id="accept-all" type="button">Accept all</button>
        </div>
    </main>
    <div id="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Manage cookie preferences</h1>
            <section class="analytics">
                <h2>Analytics</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis obcaecati id saepe officia,
                    consequatur voluptas! Alias expedita aliquid, distinctio magnam illum itaque quia officia minus
                    molestiae tempora, reiciendis ea doloribus?</p>
                <form>
                    <input type="radio" id="analytics-accept" value="Accept">
                    <label for="analytics-accept">Accept</label>
                    <input type="radio" id="analytics-reject" value="Reject">
                    <label for="analytics-reject">Reject</label>
                </form>
            </section>
            <section class="social-media">
                <h2>Social media</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis obcaecati id saepe officia,
                    consequatur voluptas! Alias expedita aliquid, distinctio magnam illum itaque quia officia minus
                    molestiae tempora, reiciendis ea doloribus?</p>
                <form>
                    <input type="radio" id="social-media-accept" value="Accept">
                    <label for="social-media-accept">Accept</label>
                    <input type="radio" id="social-media-reject" value="Reject">
                    <label for="social-media-reject">Reject</label>
                </form>
            </section>
            <section class="advertising">
                <h2>Advertising</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis obcaecati id saepe officia,
                    consequatur voluptas! Alias expedita aliquid, distinctio magnam illum itaque quia officia minus
                    molestiae tempora, reiciendis ea doloribus?</p>
                <form>
                    <input type="radio" id="advertising-accept" value="Accept">
                    <label for="advertising-accept">Accept</label>
                    <input type="radio" id="advertising-reject" value="Reject">
                    <label for="advertising-reject">Reject</label>
                </form>
            </section>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>