@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 150px;
  width: 200px;
}

input {
  display: block;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f8f8f8;
  width: 200px;
  cursor: text;
}

input:focus {
  outline: 2px #6ab16a solid;
}

input[type=submit] {
  background-color: #6ab16a;
  color: white;
  width: 221px;
}

input[type=submit]:hover {
  background-color: #428842;
  cursor: pointer;
}

input[type=submit]:focus {
  outline: none;
}

p {
  color: grey;
  font-size: 12px;
}
