@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: block;
    font-family: 'Roboto', sans-serif;
}
main {
    margin: auto;
    width: 200px;
    margin-top: 250px;
}

input {
    display: block;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(248, 248, 248);
    width: 200px;
    cursor: text;
    &:focus {
        outline: 2px rgb(106, 177, 106) solid;
    }
    &[type=submit] {
        background-color: rgb(106, 177, 106);
        color: white;
        width: 221px;
        &:hover {
            background-color: rgb(66, 136, 66);
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}

p {
    color: grey;
    font-size: 12px;
}

a {
    color: inherit;
}